:root {
    --max-width: 1328px;

    --base-color-not-white: 252 252 252;
    --base-color-not-black: 15 15 15;

    --color-dark-core: var(--base-color-not-black);
    --color-light-core: var(--base-color-not-white);
    --color-primary-core: 255 196 45;

    --color-dark: rgb(var(--color-dark-core));
    --color-light: rgb(var(--color-light-core));
    --color-primary: rgb(var(--color-primary-core));

    --width-standard: 3px;
    --border-radius-standard: 6px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0 auto;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-light);
    max-width: var(--max-width);
    font-size: clamp(15px, 1.5vw, 16px);
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-light-core: var(--base-color-not-black);
        --color-dark-core: var(--base-color-not-white);
    }

    html {
        color-scheme: dark;
    }
}
